# SYNTAX
- variable = value

In [5]:
# STRING VARIABLE

name = 'MOIZ BAGwan'   # name is a variable and 'moiz Bagwan' is value
name

'MOIZ BAGwan'

In [23]:
name = "Naresh it"
name

'Naresh it'

In [26]:
hr_name = "Admin"
hr_name

'Admin'

In [27]:
advice = "always ba HAPPY"
advice

'always ba HAPPY'

In [6]:
# INTEGER VARIABLE

age = 25      # age is a variable and 25 is value
age

25

In [28]:
num = 9934
num

99.345

In [29]:
score = 15
score

15

In [30]:
marks = 96.33
marks

96.33

In [7]:
# FLOAT VARIABLE

price = 999.99           # price is a variable and 999.99 is value
price

999.99

In [8]:
# BOOLEAN VARIABLE

is_active = True
is_active              # is_active is a variable and True is value

True

In [32]:
clg = False
clg

False

# 1 STORING AND PRINTING VALUE

In [9]:
# Store the value 10 in the variable called 'x'

x = 10          # printing the value 'x'
print(x)

10

In [33]:
a = 100
print(a)

100

In [34]:
b = 19.16555
print(b)

19.16555

In [35]:
y = 5342
print(y)

5342

In [36]:
name = 'moiz'
print(name)

moiz

In [37]:
batch = 'FSDS'
batch

'FSDS'

# 2 USING VARIABLE IN EXPRESSION

In [10]:
# Assigning value to variable
a = 5
b = 4         
print(a + b)    # print the result

9

In [38]:
a = 845
b = 532
print(a - b)

313

In [39]:
x = 456
y = 654
print(x * y)

298224

In [41]:
a = 525
b = 121
print(a / b)

4.338842975206612

In [42]:
a = 525
b = 121
print(a // b)

4

In [43]:
a = 5
b = 5
print(a ** b)

3125

# 3 Changing the value of a variable

In [12]:
# initial value
score = 50
print (score)       #output is  50

# changing the value of 'score'
score = 100
print(score)         #output is  50

50
100

In [44]:
a = 55
print(a)

# changing value

a = 33
print(a)

55
33

In [46]:
marks = 98.99
print(marks)

# changing value..

marks = 78.99
print(marks)

98.99
78.99

In [47]:
name = 'solo'
print(name)

# changing value..

name = 'bolo'
print(name)

solo
bolo

# 4 Concatenation dtrings

In [16]:
# assining value to variable

first_name = 'moiz'
second_name = 'Bagwan'

# concatenating strings and storing in a new variable

full_name = first_name+  " "  + second_name
print(full_name)

moiz Bagwan

In [49]:
a = 'Naresh'
b = 'IT'

a = a +' ' + b
print(a)

Naresh IT

In [50]:
x = "Good"
y = 'Morning'

z = x +" " + y
print(z)

Good Morning

In [51]:
x = "Good"
y = 'Night'

z = x +" " + y
print(z)

Good Night

# Using Variable in a Calculation

In [22]:
# Assigning value to variable

a = 10
b = 5

# Calculation the area of a recangle 

area = a * b
print(area)

50

In [52]:
# Assigning value to variable

a = 50
b = 60

# find average of two value

avg = ((a + b)/ 2)

print(avg)

55.0

In [ ]:
a = 90
b = 90
# divide..

a / b

# reassigning Value to Variable

In [21]:
x = 10 # initial value of x
print(x)                        # out put is  [10]

# reassigning the value of x

x = 20
print(x)                       # output is 20

10
20