# Tuple

    - Tuple is inbuild data structure in python.

    - Immutable : Tuple are not mutable , you cannot change values of Tuple.

    - Duplicates : You can have duplicates values in tuple there are no restriction.

    - Orderd : Tuple are orderd and you can access them through index values.

    - Hetrogenous : Tuple also have hetrogenous in nature and can have different types of data type in tuple.


    - Tuple are transversed in the same manner as list are transversed.

    - But remember tuples are like string you can't change anything once it's made we can't change them.

    - Always single comma is compalsory in parathesis in value , a = (1,).But in last comma is optional , a = (1,2,3,4,) like that...

In [1]:
t = ()    # Empty tuple
t

()

In [3]:
t = (1,2,3,4,5)        # int data type in tuple
t

(1, 2, 3, 4, 5)

In [85]:
t_1 = (3.14,35.7,45.7,78,99)        # float data type in tuple
t_1

(3.14, 35.7, 45.7, 78, 99)

In [4]:
print(type(t))       # type is Tuple

<class 'tuple'>

In [5]:
print(len(t))       # length of t

5

In [6]:
print(id(t))       # address of t

1547831731488

In [16]:
t1 = (10,3.14,True,1+2j,'Moiz')      # we can store multiple of data types in tuple
t1

(10, 3.14, True, (1+2j), 'Moiz')

In [89]:
a = (10,3.14,True,1+2j,'Moiz',(34,67,70),(56.78,34,23,'age'))        # nested tuple
a

(10, 3.14, True, (1+2j), 'Moiz', (34, 67, 70), (56.78, 34, 23, 'age'))

In [83]:
t1[0] = 100                        # tuples are immutable ( not changable).

TypeError: 'tuple' object does not support item assignment

In [17]:
t1[0]         # 0 index of t1

10

In [18]:
t1[1]         # 1 index of t1

3.14

In [19]:
t1[:]          # ptyhon autometically find the index number.

(10, 3.14, True, (1+2j), 'Moiz')

In [20]:
t1[0 : 3]     # Slicing, index 0 to 3 index

(10, 3.14, True)

In [21]:
t1[ : 6]      # ptyhon autometically find the index number.

(10, 3.14, True, (1+2j), 'Moiz')

In [22]:
t1[0 : ]      # ptyhon autometically find the index number.

(10, 3.14, True, (1+2j), 'Moiz')

In [63]:
t1[-3 : -1]            # Negative slicing.

(True, (1+2j))

In [64]:
t1[0 : 5]             # Positive slicing

(10, 3.14, True, (1+2j), 'Moiz')

In [65]:
t1

(10, 3.14, True, (1+2j), 'Moiz')

In [66]:
t1[1 : 5 : 3]         #  Start at index 1 → value is 3.14
                      #  Stop before index 5 → index 5 is not included (but here, it’s the end of the tuple anyway)
                      #  Step size 3 → take every 3rd element from index 1

(3.14, 'Moiz')

In [67]:
t1[:]

(10, 3.14, True, (1+2j), 'Moiz')

In [68]:
t1[0 : 5 : 3]              #  Start at index 0 → value is 10
                           #  Stop before index 5 → index 5 is not included (but here, it’s the end of the tuple anyway)
                           #  Step size 3 → take every 3rd element from index 0

(10, (1+2j))

In [69]:
t3 = (10,20,30,40,50,60,70,80,90)
t3

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [70]:
t3[1 : 9 :4]           #  Start at index 1 → value is 10
                      #  Stop before index 9 → index 9 is not included (but here, it’s the end of the tuple anyway)
                      #  Step size 4 → take every 4th element from index 1

(20, 60)

In [2]:
t4 = (10,15,20,25,30,35,40,50)
t4

(10, 15, 20, 25, 30, 35, 40, 50)

In [72]:
t4[0:8:4]             #  Start at index 0 → value is 10
                      #  Stop before index 8 → index 8 is not included (but here, it’s the end of the tuple anyway)
                      #  Step size 4 → take every 4th element from index 0

(10, 30)

In [73]:
t3

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [74]:
t3[2:9:4]              # Start at index 2 → value is 30
                       # Stop before index 9 → index 9 is not included (but here, it’s the end of the tuple anyway)
                       # Step size 4 → take every 4th element from index 2

(30, 70)

In [75]:
t3

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [76]:
t3[::-2]        # start from the end, go backwards (due to negative step), and take every 2nd element.
                # Starting from the end (90) and moving backwards by 2 steps

(90, 70, 50, 30, 10)

In [77]:
t3

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [78]:
t3[-2 ::]       
                      # Start at index -2 → negative indices count from the end
                      # No stop → go till the end 
                      #  No step specified → default is +1

(80, 90)

In [79]:
t3[:: 2]              #No start → begins at index 0
                      #No stop → goes till the end
                      #Step = 2 → take every second element

(10, 30, 50, 70, 90)

In [80]:
t3

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [81]:
for i in t3:            # using for loop
    print(i)

10
20
30
40
50
60
70
80
90

In [82]:
for i in enumerate(t3):       # It gives you (index, value) pairs from the tuple
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)
(7, 80)
(8, 90)

In [5]:
t3 = (10, 20, 30, 40, 50, 60, 70, 80, 90)
t3

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [6]:
10 in t3     # Check 10 exist in tuple.

True

In [7]:
100 in t3  # 100 is not exist in tuple.

False

# Methods of Tuple

    - Two types of methods in tuple.
     (i) - Index method
    (ii) - Count method

    * Index Method :-
                        The index() method is used to find the position of the first occurrence of a specified value in a tuple.
                         syntax : [  tuple_name.index(value) ]


    * Count Method :- 
                        The count() method is used to count how many times a value appears in a tuple.
                         syntax : [ tuple_name.count(value)]

# Index :

In [15]:
a = (23, 56, 67, 80, 45, 65)
a

(23, 56, 67, 80, 45, 65)

In [16]:
a.index()        # pass at least one arguments

TypeError: index expected at least 1 argument, got 0

In [17]:
a.index(56)       # index of 56 element is equal to 1

1

In [18]:
a.index(65)      # index of 65 element is equal to 5

5

In [19]:
a

(23, 56, 67, 80, 45, 65)

# Count :

In [20]:
t = (12, 45, 23, 45, 78, 90, 65, 56, 23, 77, 23)
t

(12, 45, 23, 45, 78, 90, 65, 56, 23, 77, 23)

In [21]:
t.count(23)     # 3 time repeat 23.

3

In [32]:
t.count(12)     # 1 time repeate 12.

1

# Sorting

    - In Python, tuples are immutable, meaning they cannot be changed directly (unlike lists). So you cannot sort a tuple in-place.

    - But you can sort the elements of a tuple by converting it to a list, sorting the list, and converting it back if needed.

In [35]:
mytuple2 = (43,67,99,6,90,67)

In [37]:
sorted(mytuple2)    # return a new sorted list and doesn't change original tuple

[6, 43, 67, 67, 90, 99]

In [38]:
sorted(mytuple2, reverse=True)    # sort in decending order.

[99, 90, 67, 67, 43, 6]

# Range

    - The range() function in Python is used to generate a sequence of numbers.

    -  you cannot apply range() to a tuple directly, but you can use it to generate values, then store them in a tuple or use it to  access tuple elements.

    - Pass at leat one argument.

In [23]:
range()     # pass at least one argument.

TypeError: range expected at least 1 argument, got 0

In [24]:
range(9)    # range 0 to 9.

range(0, 9)

In [25]:
list(range(9))   # 0 to 9 list . but last element is not print

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
range(10,20)

range(10, 20)

In [27]:
list(range(10,20))      # 10 to 20 list but last element is not print

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
range(10,50,5)

range(10, 50, 5)

In [30]:
list(range(10,50,5))

[10, 15, 20, 25, 30, 35, 40, 45]

In [31]:
range(10,60,5,1)   # in rnge accept 3 arguments not more than 3 .

TypeError: range expected at most 3 arguments, got 4