# Set {}

                  - Set and dict are both define with {} , Curly Brackets.

    - Mutable :-
                   It is mutable (can be changed), but the elements must be immutable (e.g., int, string, tuple)

    - Duplicates :-
                    You can not have any duplicates value in set ,that means Every element will be unique .

    - Unorderd :-
                    A set is an unordered, unindexed collection of unique elements.

    - Heterogeneous :-
                    Sets are semi-heterogeneous it can stores some data type like string , numbers , tuple , but not everything.

    - Sets do not support indexing and slicing.

In [1]:
s = {}        # This is a dictionary,not set 
s                                           # making for set is following..

{}

In [2]:
type(s)

dict

In [3]:
s1 = set()         # Now this is empty set.

In [4]:
s1

set()

In [5]:
type(s1)     # type of s1

set

In [10]:
s1 = {90,34,67,1,8,45,82}
s1                         # sets are unorderd

{1, 8, 34, 45, 67, 82, 90}

In [7]:
type(s1)       # Type of s1 is set

set

In [8]:
len(s1)        # length of s1

7

In [12]:
s2 = {'z','m','a','o','d'}     # unorderd
s2

{'a', 'd', 'm', 'o', 'z'}

In [13]:
type(s2)

set

In [14]:
print(s1)
print(s2)

{1, 34, 67, 82, 8, 90, 45}
{'m', 'z', 'o', 'd', 'a'}

In [15]:
s2

{'a', 'd', 'm', 'o', 'z'}

In [16]:
len(s2)

5

In [17]:
s3 = {1,3.2,'nit',1+2j,False}    
s3

{(1+2j), 1, 3.2, False, 'nit'}

In [18]:
s1

{1, 8, 34, 45, 67, 82, 90}

In [19]:
s4 = {1,4,5,6,4,3,2,1,4}     # duplicates values are not print , because duplicates are not allowed.
s4

{1, 2, 3, 4, 5, 6}

# loop trough a Set

In [1]:
s = {1,2,3,4,5,6,7,8,9}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
s1 = {'one','two','three','four','five'}
s1

{'five', 'four', 'one', 'three', 'two'}

In [6]:
for i in enumerate(s1):
    print(i)

(0, 'four')
(1, 'three')
(2, 'two')
(3, 'five')
(4, 'one')

# Methods of Set

# Add method

    - To add a single element to a set.
    - Adds the element only if itâ€™s not already present.
    - The element must be immutable (like int, float, string, tuple).
    - This method does not return anything (returns None).
    - If you try to add a duplicate, it will be ignored.

In [20]:
s1

{1, 8, 34, 45, 67, 82, 90}

In [22]:
s1.add(9)     # add element
s1

{1, 8, 9, 34, 45, 67, 82, 90}

In [23]:
s1.add(100)
s1

{1, 8, 9, 34, 45, 67, 82, 90, 100}

In [24]:
s1

{1, 8, 9, 34, 45, 67, 82, 90, 100}

In [26]:
s1.add(5)
s1

{1, 5, 8, 9, 34, 45, 67, 82, 90, 100}

In [27]:
print(s1)

{1, 67, 5, 8, 9, 82, 90, 34, 100, 45}

In [28]:
s3

{(1+2j), 1, 3.2, False, 'nit'}

# Clear Method

    - To remove all elements from a set, making it an empty set.
    - It modifies the original set.
    - The set becomes empty (set()).
    - It does not return anything

In [29]:
s3

{(1+2j), 1, 3.2, False, 'nit'}

In [30]:
s3.clear()      # it gives empty set().
s3

set()

In [32]:
s1

{1, 5, 8, 9, 34, 45, 67, 82, 90, 100}

In [34]:
set = {567,80,12,67,89}
set

{12, 67, 80, 89, 567}

In [35]:
set.clear()        # empty set.

# Copy Method 

    - To create a duplicate of a set.
    - It returns a new set with the same elements.
    - Changing the copied set does not affect the original set.

In [36]:
s4

{1, 2, 3, 4, 5, 6}

In [37]:
s4.copy()       # copy
s4

{1, 2, 3, 4, 5, 6}

In [38]:
s4 = s1.copy()     # copy
s4

{1, 5, 8, 9, 34, 45, 67, 82, 90, 100}

In [39]:
s1

{1, 5, 8, 9, 34, 45, 67, 82, 90, 100}

In [40]:
s1[0]       # sets are unorderd so indexing is not allowed.

TypeError: 'set' object is not subscriptable

In [41]:
s1

{1, 5, 8, 9, 34, 45, 67, 82, 90, 100}

In [42]:
s1[1:5]      # sets are unorderd so slicing are also not allowed.

TypeError: 'set' object is not subscriptable

# Pop Method

    - To remove and return a random element from the set.

In [43]:
s1

{1, 5, 8, 9, 34, 45, 67, 82, 90, 100}

In [45]:
s1.pop()   # remove and give random number from the set.

67

In [46]:
s1

{5, 8, 9, 34, 45, 82, 90, 100}

In [48]:
s1.pop()

5

In [49]:
s1.pop()

8

In [50]:
s1

{9, 34, 45, 82, 90, 100}

In [51]:
s1.pop(0)      # we can not take any arguments in pop() method.

TypeError: set.pop() takes no arguments (1 given)

In [52]:
s1

{9, 34, 45, 82, 90, 100}

# Remove Method

    - To remove a specific element from a set.

In [53]:
s1

{9, 34, 45, 82, 90, 100}

In [58]:
s1.remove(82)     # it is remove h element that is 82.
s1

{34, 45, 100}

In [59]:
s1

{34, 45, 100}

In [60]:
s1.remove(1000)   # 1000 is not exist in set.

KeyError: 1000

# Discard Method

    - It removes specific element , if it is not exist in set.

In [63]:
s4

{1, 5, 8, 9, 34, 45, 67, 82, 90, 100}

In [65]:
s4.discard(100)      # remove element 100 it is exist in set.
s4

{1, 5, 8, 9, 34, 45, 67, 82, 90}

In [66]:
s4

{1, 5, 8, 9, 34, 45, 67, 82, 90}

In [67]:
s4.discard(5000)    # no error because of discard method ,remove the element if it is exist or not.
s4

{1, 5, 8, 9, 34, 45, 67, 82, 90}

In [69]:
s4.discard(34)    # removes element that is 34.
s4

{1, 5, 8, 9, 45, 67, 82, 90}

# Set Membership 

        - Checks whether the value exists in the set or not.
        - Returns a boolean value: True or False.

In [72]:
s4

{1, 5, 8, 9, 45, 67, 82, 90}

In [73]:
1000 in s4      # 1000 is not exists in set , so it gives False

False

In [74]:
45 in s4       # 45 exists in set ,so it gives True

True

In [76]:
s1

{34, 45, 100}

# Set Operation 

    - Union
    - intersection
    - difference
    - difference_update
    - symmetric_difference

# Union  |  :-

        ** Symbol is "   |   "  pipe.
        - To combine elements of two or more sets, and return a new set with all unique elements.
        - It does not modify the original sets.
        - It returns a new set.
        - Removes duplicates automatically.

In [77]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [78]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [79]:
a.union(b)     # It combines two sets and make new set ,and duplicate elements are removes

{1, 2, 3, 4, 5, 6, 7, 8}

In [80]:
a.union(b,c)   # It combines Three sets and make new set ,and duplicate elements are removes

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [81]:
a | b | c      #  | , this is symbl of union function

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [82]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

# Intersection  &  :-

    - Intersection function Symbol is &.

    - Intersection function is use to find out the common element in the 2 or more sets.

    - It returns a new set containing only the elements that are common to all sets

    - Intersection funcion does not change original set.

    - If no common elelment in the set it gives a empty set ().

In [24]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [25]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [26]:
a.intersection(b)      # 4 and 5 is common element in the set(a) and set(b).

{4, 5}

In [27]:
b.intersection(c)   # 8 is common in the set(b) and set(c).

{8}

In [19]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 10}
{4, 5, 6, 7, 8, 10}
{8, 9, 10}

In [28]:
a&(b)    # we use symbol of intersetion function.4 and 5 is common in a and b

{4, 5}

In [29]:
b&c     # we use symbol of intersetion function. 8 is common in a and b

{8}

In [31]:
x = {10,20,30,40,50}
y = {60,70,80,90,40}
z = {111,222,40}

In [32]:
x.intersection(y,z)    # 40 is common in all set.set(x),set(y),set(z)

{40}

# Difference  -  :-

    - The symbol of difference function is minus ( - ).
    
    - The defference function is returs the element that are only in first set,and not in the others.
    
    - I does not modify the original set.

In [33]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [34]:
a.difference(b)      # 1,2,3 are the element of set(a).

{1, 2, 3}

In [35]:
b.difference(c) # 4,5,6,7 are element of set(b) and set(c)

{4, 5, 6, 7}

In [36]:
c.difference(b)   # Return all elements that are in c but not in bbecause of differance function is always returns a elemet of firt set

{9, 10}

In [37]:
a-b  # using symbol of didderence function

{1, 2, 3}

In [38]:
b-c   # using symbol of didderence function

{4, 5, 6, 7}

In [39]:
c-a    # using symbol of didderence function

{8, 9, 10}

In [40]:
c-b     # using symbol of didderence function

{9, 10}

# Difference_Update :-

    - All common elements between the sets are removed from the original set.

    - It modifies the original set in place and does not return a new set.

In [80]:
print(a)
print(b)
print(c)

{1, 2, 3}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [89]:
a.difference_update(b)      # common elements are removed
b

{4, 5, 6, 7}

In [90]:
b.difference_update(c)
b

{4, 5, 6, 7}

# Symmetric_Difference  ^  :-

    - Symbol of symmetric_differance function is   ^    .
    - symmetric_difference function is use to print unique element . common element are not print.
    - In short : "Unique elements from both sets."

In [68]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [69]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [70]:
a.symmetric_difference(b)    # 4 and 5 are common

{1, 2, 3, 6, 7, 8}

In [73]:
a^b                    # 4 and 5 are common

{1, 2, 3, 6, 7, 8}

In [74]:
b^c            # 8 common

{4, 5, 6, 7, 9, 10}

# Superset , Subset , Disjoint

# 1) Superset :-

In [7]:
a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40,50}

In [9]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{50, 20, 40, 10, 30}

In [11]:
a.issuperset(b)  # a is superset of b , because of b is cotaining all element of the a.
                 # and return the boolean value (True , False)
                # therefore: a is superset of b

True

In [12]:
a.issuperset(c) # c is not containing elements a . so it gives False

False

In [14]:
b.issuperset(a)        # a is not containing the elements b

False

In [15]:
b.issuperset(c) # also b is not containt the elements of c

False

In [41]:
c.issuperset(a)   # c is not containing the elements a

False

In [43]:
c.issuperset(b)    # c is not containing the elements b

False

# 2) Subset :-

In [16]:
a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40,50}

In [17]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{50, 20, 40, 10, 30}

In [18]:
a.issubset(b) # set a is not a subset of set b

False

In [22]:
a.issubset(c)  # set a is not a subset of set c

False

In [19]:
b.issubset(a)     # set b is a subset of set a

True

In [23]:
b.issubset(c)    # set b is not a subset of set c

False

In [20]:
c.issubset(a)   # set c is not a subset of set a

False

In [21]:
c.issubset(b)    # set c is not a subset of set b

False

# Disjoint :-

In [ ]:
a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40,50}

In [24]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{50, 20, 40, 10, 30}

In [25]:
a.isdisjoint(b)  # Two sets are said to be disjoint sets if they have no common element
                 # So, not disjoint

False

In [26]:
a.isdisjoint(c)  # Two sets are said to be disjoint sets if they have no common e
                # So, they are disjoint

True

In [27]:
b.isdisjoint(a)   # Two sets are said to be disjoint sets if they have no common element
                    #  # So, they are not disjoint

False

In [28]:
b.isdisjoint(c)      # So, they are disjoint

True

In [29]:
c.isdisjoint(a)        # So, they are disjoint

True

In [30]:
c.isdisjoint(b)        # So, they are disjoint

True

# Other builtin function :-

    - sum     ----->          print(sum)
    - max     ----->          print(max)
    - min     ----->          print(min)
    - len     ----->          print(len)
    - set(enumerate)
    - sorted  ----->          print(accending order)
    - sorte(reverse=True) --> print(decending order)

In [31]:
a = {1,2,3,4,5,6,7,8,9}
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
sum(a)    # total = sum

45

In [33]:
max(a)   # maximum number

9

In [34]:
min(a)   # minimum number

1

In [35]:
len(a)      # length of a

9

In [36]:
set(enumerate(a))   # gives element with values

{(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)}

In [37]:
d = sorted(a)   # in acending ordered

In [38]:
d

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
d = sorted(a,reverse=True)      # decending ordered

In [40]:
d

[9, 8, 7, 6, 5, 4, 3, 2, 1]