# 1 - NUMBERS IN PYTHON 

- Numbers
- String
- Variable
- Functions

1

In [6]:
7

7

In [9]:
5 + 2        #Addition of 2 numbers

8

In [8]:
5 - 3       # Substraction of 2 numbers

2

In [10]:
5 * 2        # Multiplication of 2 numbers

10

In [13]:
10 / 2       # Float Divison

5.0

In [14]:
10 // 2      # Int Divison

5

In [15]:
5 * 2        # Multiplication

10

In [16]:
5 ** 2       # Power / Square

25

# 2 - STRING IN PYTHON(TEXT)

In [18]:
hello    # ERROR (Quots are complsory for Srting)

NameError: name 'hello' is not defined

In [19]:
'Hello' # SIngle Quots..

'Hello'

In [20]:
"Hello"  # Double Quots

'Hello'

In [21]:
'''Hello'''  # Multi line Quots / Triple Quots

'Hello'

In [22]:
''' Hii my name is Abdul Moiz '

_IncompleteInputError: incomplete input (3036439947.py, line 1)

In [28]:
'''Hii my name is Abdul Moiz"

_IncompleteInputError: incomplete input (1352673543.py, line 1)

In [29]:
''' Hii my name is Abdul Moiz'''

' Hii my name is Abdul Moiz'

In [31]:
' Hii my name is Abdul Moiz i am from Maharashtra i study in NIT'

' Hii my name is Abdul Moiz i am from Maharashtra i study in NIT'

In [36]:
''Hii my name is Abdul Moiz i am from Maharashtra i study in NIT''  # ERROR (USEER MISTAKE)(QUOTS)

'Hii my name is Abdul Moiz i am from Maharashtra i study in NIT'

In [37]:
'''Hii my name is Abdul Moiz
i am from Maharashtra             
i study in NIT'''                  # MULTI LINE COMMENTS (USE TRIPLE QOUTS)

'Hii my name is Abdul Moiz\ni am from Maharashtra \ni study in NIT'

# 3 - VARIABLE (OBJECT) IN PYTHON

In [52]:
1num = a         # VARIABLE Never Start WITH NUMBERS (1NUM) , AND SPECIAL CHARECTERS(@,#,$,*,&).... But end with numbers..
1num

SyntaxError: invalid decimal literal (2847245014.py, line 1)

In [40]:
a = 9        # PYTHON IS THE CASE SENSITIVE LAGUAGE,'a' and 'A' is differernt....
A

NameError: name 'A' is not defined

In [41]:
a = 9
a

9

In [39]:
a = 45    
b = 45        # ADDITION BY USING VARIABLE...
a + b

90

In [44]:
a = 20
b = 10       # SUBSTRACTION BY USING VARIABLE...
a - b

10

In [47]:
a = 100
b = 50       # (FLOAT DIVISON) BY USING VARIABLE...
a / b

2.0

In [48]:
a = 100
b = 50       # (INT DIVISON) BY USING VARIABLE...
a // b

2

In [49]:
a = 10
b = 10      # MULTIPLICATION BY USING VARIABLE...
a * b

100

In [57]:
name = "NIT"
sur_name          # i define with 'NAME' and i call with "sur_name" .... NAme ERROR

NameError: name 'sur_name' is not defined

In [59]:
name = "NIT"
name           # Define and call the same Variable....

'NIT'

In [64]:
name1,name2 = 'pushpa','KGF'
name1                     # after the name1 i rum the name1 then the name1 output is diapear.... 
name2                         # Threfor we use "(FUNCTION") for CODE 'OPTIMISATION'

'pushpa'

# 4 - FUNCTION IN PYTHON

In [66]:
name@ = "NIT"
name@                  # SPECIAL CHARECTERS ARE NOT USE IN VARIABLE...(ECCEPT 'UNDERSCORE').....

SyntaxError: invalid syntax (1867390700.py, line 1)

In [67]:
num$ = 10
num$                  # SPECIAL CHARECTERS ARE NOT USE IN VARIABLE...(ECCEPT 'UNDERSCORE').....

SyntaxError: invalid syntax (2392378291.py, line 1)

In [68]:
num_ = 1000
num_                  # Special Charecters are cannot use in Variable...(ECCEPT 'UNDERSCORE').....

1000

In [65]:
name1 = "moiz"
name2 = "Bagwan"
print(name1)           # PRINT() FUNCTION We use to ptint Output.....
print(name2)

moiz
Bagwan

In [69]:
if = 999
if                # "IF" is the reserve word in Python (35 recerved Words in Python)....

SyntaxError: invalid syntax (1911644139.py, line 1)

In [75]:
import keyword
keyword.kwlist          # THESE RESERVED keywords(35) WORDS NEVER BE "VARIABLE"....

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [74]:
len(keyword.kwlist)

35

In [76]:
"variable is completed"

'variable is completed'

# 5 - DATATYPES

# - i INTEGER

In [17]:
i = 1       
print(i)
print(type(i))                 # Detatype Is (INTEGER)

1
<class 'int'>

In [16]:
f = 99.99   
print(f)
print(type(f))                 # Detatype Is (FLOAT)

99.99
<class 'float'>

In [15]:
s = "Hello"
print(s)
print(type(s))                 # Detatype Is (STRING)

Hello
<class 'str'>

# - ii BOOLIAN

In [10]:
b = true
b              # "True" is a reserved word in python and "T" is Always "CAPITAL"

NameError: name 'true' is not defined

In [14]:
b = True
print(b)             # "True" is a reserved word in python and "T" is Always "CAPITAL"
print(type(b))

True
<class 'bool'>

In [18]:
c = false
c                   # "FALSE" is also a reserved word in python and "F" is Always "CAPITAL"
print(type(c))

NameError: name 'false' is not defined

In [20]:
c = False
print(c)                   # "FALSE" is a reserved word in python and "F" is Always "CAPITAL"
print(type(c))

False
<class 'bool'>

In [8]:
f = 1a2
f                      # only E,e letter is allowed in float not any other letter....

SyntaxError: invalid decimal literal (4237172741.py, line 1)

In [9]:
True + False          # In Memory (True is "1" , and False is "0")

1

In [10]:
True + True +True          # 1 + 1 + 1 = 3

3

In [11]:
False + True              # 0 + 1 = 1

1

In [12]:
False + False             # 0 + 0 = 0

0

In [13]:
True * False              # 1 * 0 = 0

0

In [16]:
False / True              # 0 / 1 = 0.0

0.0

# - iii FLOAT

In [1]:
f = 1e0                # 1 'e' to the power is one (1e0)...
f                      # in FLOAT The (LETTER "E", "e "is allowd ).......

1.0

In [4]:
f = 1e1           # e0 = 1
                  #e1 = 10
f                # e2 = 100 , and so on
type(f)

float

In [5]:
f1 = 2e1
f1          # 2 * 10.0 = 20.0

20.0

In [6]:
f2 = 2.4e2              # 2.4 / 10 * 100 = 240.0 
f2

240.0

In [7]:
f3 = 2.5E3             # 2.5 /10 * 1000 = 2500.0
f3                     # in FLOAT The (LETTER ("E"), ("e")(EXPONENTIAL)is allowd ).......

2500.0

# - iv COMPLEX DATATYPE
- Format = a + bj

In [20]:
c = 1 + 2j      # 1 is REAL PART
c               # 2 is IMAGNARY PART
                # j is SQUARE ROOT OF (-1)          # we use Dot(.) for call the Function

(1+2j)

In [21]:
c.real

1.0

In [22]:
c.imag

2.0

In [24]:
c = 1 + 3s
c               # Only (j) letter is allowed not any other letter

SyntaxError: invalid decimal literal (3612010892.py, line 1)

In [1]:
a = 10 + 25j
b = 20 + 50j
a + b

(30+75j)

# v - STRING DATATYPE

In [2]:
a = 'Naresh it'
a

'Naresh it'

In [3]:
a[0]          # Indexing

'N'

In [4]:
a[1]

'a'

s1 = 'MOiz'                      # string : s1  "M o i z"
s2 = 'bagwan'                      #indexing     0 1 2 3
print(s1)                      # string : s2  "B a g w a n"
print(s2)                        #indexing     0 1 2 3 4 5

In [14]:
print(s1[0])             # string : s1  "B a g w a n"
print(s2[0])               #indexing     0 1 2 3 4 5

M
b

In [20]:
a + s1 + s2               # Concagination

'Naresh itMOizbagwan'

# Print Result with Numbers

In [21]:
print('moiz',99.99,True)     # i print all the detatypes in on function(print)....

moiz 99.99 True

In [32]:
num1 = 30
num2 = 30
num3 = 30
add = num1 + num2 + num3

print('addition of {} and {} and {} is = {}'.format(num1,num2,num3,add))

addition of 30 and 30 and 30 is = 90