# Dictionary {}

    - Mutable : Dictionary is a mutable data structure in python.
    
    - Duplicates : key must be unique,you can have duplicates in values.
    
    - Order : Dictionary follows insertion order.
    
    - Heterogeneous : A dictionary can store different types of keys and values, like integer,string,lists,or even another dictionary.
    
    - we have use to key and values pair to store values in dictionary.
    
    - keys in dictionary acts like index values.
    
    - A python dictionary is a collection of key and value pairs seprated by colon(:) & enclosed in curly braces {}.

# Create Dictionary

In [2]:
d = dict()      # empty dictionary
d

{}

In [4]:
type(d)     # type of d

dict

In [14]:
d = {1:'one',2:'two',3:'three',4:'four',5:'five'}    # dictionary with integer keys
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [15]:
type(d)   # type of d1

dict

In [145]:
a = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
a

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [146]:
a[3]

'three'

In [17]:
d = dict({1:'one',2:'two',3:'three',4:'four',5:'five'})  # create dictionaty using dict.
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [21]:
d = {1:'one','B':'two',3:'three','C':'four',5:'five'} # dictionary with mixed keys.
d

{1: 'one', 'B': 'two', 3: 'three', 'C': 'four', 5: 'five'}

In [29]:
d = {'A':'one','B':'two','c':['moiz','Indian','globel']}
d                        # dictionary with list.

{'A': 'one', 'B': 'two', 'c': ['moiz', 'Indian', 'globel']}

In [3]:
d = {'A':'one','B':'two','C':['moiz','Indian','globel'], 'D':('bat','cat','hat')}
d                     # dictionary with list and tuple.

{'A': 'one',
 'B': 'two',
 'C': ['moiz', 'Indian', 'globel'],
 'D': ('bat', 'cat', 'hat')}

In [32]:
d = {'A':'one','B':'two','C':{'moiz','Indian','globel'},  'D':('bat','cat','hat')}
d         # dictionay with nested data

{'A': 'one',
 'B': 'two',
 'c': {'Indian', 'globel', 'moiz'},
 'D': ('bat', 'cat', 'hat')}

In [48]:
d = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [49]:
d[1]        # access item using key

'one'

In [134]:
d1 = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
d1

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [135]:
d1

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [137]:
d1[0 : 3]      # Dictonary are unorderd,so indexing & slicing are not allowed.

KeyError: slice(0, 3, None)

# Add,Remove & Change Items

In [7]:

d = {'Name':'Moiz' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
d

{'Name': 'Moiz', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [131]:
d['DOB'] = 1992
d['Address'] = 'Mumbai'
d                        # changing dictionary because of mutablity.

{0: 'a', 1: 'b', 'DOB': 1992, 'Address': 'Mumbai'}

In [ ]:
d = {'Name':'Moiz' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
d

In [66]:
d["Job"] = "Analytics"     # add items in dictionary
d

{'Name': 'Moiz',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analytics'}

In [70]:
d

{'Name': 'Moiz', 'ID': 12345, 'DOB': 1991, 'Job': 'Analytics'}

In [74]:
d.pop('DOB')          # removing items in dictionary using POP method
d

{'Name': 'Moiz', 'ID': 12345}

In [72]:
d.pop('Job')     # removing items in dictionary using POP method
d

{'Name': 'Moiz', 'ID': 12345, 'DOB': 1991}

# Dictionary Methods

# Keys :-

In [73]:
d = dict({1:'one',2:'two',3:'three',4:'four',5:'five'})
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [78]:
d.keys()   # Return Dictionary KEYS , using keys() method.

dict_keys([1, 2, 3, 4, 5])

In [11]:
a = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
a

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [12]:
a.keys()        # Return Dictionary KEYS , using keys() method.

dict_keys([1, 2, 3, 4])

In [81]:
s = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
s

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [82]:
s.keys()     # Return Dictionary KEYS , using keys() method.

dict_keys(['Name', 'ID', 'DOB', 'job'])

# Values :-

In [83]:
d = dict({1:'one',2:'two',3:'three',4:'four',5:'five'})
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [84]:
d.values()    # Return Dictionary VALUES , using values() method

dict_values(['one', 'two', 'three', 'four', 'five'])

In [85]:
s = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
s

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [87]:
s.values()    # Return Dictionary VALUES , using values() method

dict_values(['moiz', 74123, 1991, 'Analyst'])

In [88]:
a = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
a

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [89]:
a.values()    # Return Dictionary VALUES , using values() method

dict_values(['one', 'two', 'three', 'four'])

# Items :-

In [90]:
d = dict({1:'one',2:'two',3:'three',4:'four',5:'five'})
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [91]:
d.items()       # Access each key-value pair within a dictionary

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')])

In [16]:
s = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
s

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [17]:
s.items()       # Access each key-value pair within a dictionary

dict_items([('Name', 'moiz'), ('ID', 74123), ('DOB', 1991), ('job', 'Analyst')])

In [ ]:
a = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
a

In [94]:
a.items()       # Access each key-value pair within a dictionary

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

# Fromkeys :-

In [95]:
keys = {'a','b','c','d'}        # create a dictonary from a sequanse of keys
dict1 = dict.fromkeys(keys)
dict1

{'a': None, 'b': None, 'c': None, 'd': None}

In [97]:
keys = {1,2,3,4,5}        # create a dictonary from a sequanse of keys
dict1 = dict.fromkeys(keys)
dict1

{1: None, 2: None, 3: None, 4: None, 5: None}

In [100]:
keys = {1,2,3,4,5}        # create a dictonary from a sequanse of keys
dict1 = dict.fromkeys(keys,values)
dict1

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10}

In [99]:
keys = {'a','b','c','d'}
values = 10              # create a dictionary from sequance of values.
dict2 = dict.fromkeys(keys,values)
dict2

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [101]:
keys = {'a','b','c','d'}        # create a dictonary from a sequanse of keys
dict1 = dict.fromkeys(keys,values)
dict1

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [20]:
keys = {'a' :1,'b' : 2,'c' : 3,'d' : 4}   
values = keys                                # create a dictonary from a sequanse of keys
dict1 = dict.fromkeys(keys,values)
dict1

{'a': {'a': 1, 'b': 2, 'c': 3, 'd': 4},
 'b': {'a': 1, 'b': 2, 'c': 3, 'd': 4},
 'c': {'a': 1, 'b': 2, 'c': 3, 'd': 4},
 'd': {'a': 1, 'b': 2, 'c': 3, 'd': 4}}

# Get :-

In [102]:
d = dict({1:'one',2:'two',3:'three',4:'four',5:'five'})
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [103]:
d.get(1)    # access a item using get() method

'one'

In [104]:
d.get(5)    # access a item using get() method

'five'

In [130]:
s = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
s

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [107]:
s.get('Name') # access a item using get() method

'moiz'

In [108]:
s.get('DOB') # access a item using get() method

1991

In [22]:
m = {1 : 1, 2 : 4, 3 : 9}
m

{1: 1, 2: 4, 3: 9}

In [26]:
m.get(1)

1

# Update :-

In [59]:

mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [60]:
dict1 = {'DOB':1995} 
mydict1.update(dict1)   # update DOB using updae method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [62]:
dict1 = {'Address' : 'Maharashtra'}
mydict1.update(dict1)                 # update Address using updae method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Maharashtra'}

In [63]:
dict1 = {'Name' : 'Badshah'}
mydict1.update(dict1)             # update name using updae method
mydict1

{'Name': 'Badshah', 'ID': 12345, 'DOB': 1995, 'Address': 'Maharashtra'}

# Popitem :-

In [75]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [77]:
mydict1.popitem()     # A random item is removed

('Address', 'Hilsinki')

In [78]:
mydict1.popitem()    # A random itemis removed

('DOB', 1991)

In [79]:
mydict1.popitem()   # A random item is removed

('ID', 12345)

# Clear :-

In [80]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [82]:
mydict1.clear()     # Delete all items of dictionary using clear method
mydict1

{}

In [83]:
s = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
s

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [84]:
s.clear()
s                 # Delete all items of dictionary using clear method

{}

# Copy :-

In [85]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [86]:
mydict1 = mydict   # Create a new refrance 'mydict1'

In [87]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [88]:
id(mydict),id(mydict1)  # both address are same (mydict and mydict1).

(2320509093440, 2320509093440)

In [91]:
mydict2 = mydict.copy()    # create a coy of dictionary
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [94]:
id(mydict2) # the address of dict2 is differente from mydict.

2320503761344

In [92]:
s = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
s

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [95]:
id(s)     # Address of s

2320499581504

In [93]:
s1 = s.copy()     # Create a copy
s1

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [96]:
id(s1)     # address of s1 is differente from s.

2320499002624

In [100]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [101]:
mydict['Address'] = 'Mumbai'    # dictionary is mutable.
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [102]:
mydict1 # mydict will be impact as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [103]:
mydict  # copy of list won't be impacted due to change made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

# Loop through a Dictionary

In [105]:
s = {'Name':'moiz' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
s

{'Name': 'moiz', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [106]:
for i in s:              # key and value pair.
    print(i, ':', s[i])

Name : moiz
ID : 74123
DOB : 1991
job : Analyst

In [107]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [110]:
for i in mydict :        # dictionary items
    print(mydict[i])

Asif
12345
1991
Hilsinki

# Dictionary Membership

In [111]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [112]:
'Name' in mydict   # True , membership test can be done for keys.

True

In [113]:
'ID' in mydict        # 'ID' is the member of mydict.

True

In [115]:
'Asif' in mydict     # 'Asif' is the member of mydict.

False

In [132]:
'asif' in mydict    # case sensitive .

False

In [117]:
'City' in mydict    # city is not member of mydict.

False

# All / Any

    - The all() method returns :
    
                            * True - If all keys of the dictionary is True.
                            * False - If any key of the dictionary is False.

    - Any function returns the True if any key of the dictionary is True. If not,any() returns False.

In [118]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [119]:
all(mydict)

True

In [120]:
any(mydict)

True

In [121]:
d = {1: 'a', 2: 'b'}
print(all(d))  # True (both keys are non-zero)

True

In [128]:
d = {0: 'a', 5:'e'}
print(all(d))

False

In [129]:
d = {0: 'a', 1: 'b'}
print(any(d))  # True (1 is truthy)

True

In [ ]:
d = {0: 'a', False: 'b'}
print(any(d))  # False (all keys are falsy)