# Data Type

    - In Python, data types are used to define the kind of value a variable can hold
    - Int (numeric data type).
    - Float Data Type
    - String Data Type
    - Float Data Type
    - Complex Data Type
    - Bool Data Type
    - List
    - Touple
    - Dictonary
    - Set
    - Use type() function to check any variableâ€™s data type: ex: print(type())....

# Introduction

In [3]:
print(3 + 2)     # ADDITION (+)
print(3 - 2)     # SUBSTRACTION (-)
print(3 * 2)     # MULTIPLICATION (*)
print(3 / 2)     # DIVISION (/)
print(3 ** 2)    # EXPONENTIAL(**)
print(3 // 2)    # FLOOR DIVISION OPERATION(//)
print(3 % 2)     # MODULUS(%)

5
1
6
1.5
9
1
1

# CHECKING DATATYPES

In [6]:
print(type(10))                  # Int type
print(type(3.14))                # Float type
print(type(1 + 3j))              # Complex type
print(type('Asabeneh'))          # String type
print(type([1, 2, 3]))           # List 
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

# Integer Data Type (int) :-

    - int = integer data type.(-5,-4,-3,-2,-1,0,1,2,3,4,5)
    - we can store whole Numbers in integer data type (Positive , Negative , Zero).
    - but can not stote Desimal (float) numbers in the integer data type.

In [1]:
a = 1              #  1 is the integer data typpe
a

1

In [2]:
print(type(a))     # integer data type

<class 'int'>

In [3]:
id(a)              # address of a

140734974964648

In [4]:
i = 15,35,588,44
i                              # we can assgn one and more than one value in integer data type.

(15, 35, 588, 44)

In [5]:
i = 0,1,2,3,4,5,6,7,8,9
i

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
i = 2.5,76,34
i

(2.5, 76, 34)

In [8]:
a = 5                #Addition of two Integer numbers 
b = 30
c = a + b
print(c)

35

In [11]:
a = 50              #substraction of two Integer numbers 
b = 30
c = a - b
print(c)

20

In [10]:
a = 5               #multiplication of two Integer numbers 
b = 30
c = a * b
print(c)

150

In [13]:
a = 50              #division of two Integer numbers 
b = 30
c = a / b
print(c)

1.6666666666666667

In [18]:
a = 50              #int division of two Integer numbers 
b = 30
c = a // b
print(c)

1

In [17]:
a = 5              #power of two Integer numbers 
b = 3
c = a ** b
print(c)

125

# Float Data Type :-

    - In float data type can store floting point numbers (1.4,3.14,4.8,8.99, etc)
    - In pyhon wecan only use 'e' letter not others..
    - Float value can be created  using decimal.
    - We can convert float data type to int data type and also revese of it.

In [19]:
f = 3.14              #  we can creat a variable assign value is float (3.14)
f

3.14

In [20]:
print(type(f))        # print float data typpe

<class 'float'>

In [21]:
id(f)                 # Address of f

2396299993680

In [23]:
f1 = 3.14, 4.76, 77.99, 99.99       
f1                                 # we can assgn one and more than one value in float data type.

(3.14, 4.76, 77.99, 99.99)

In [25]:
a = 5.5
b = 6.9                # Addition of two float numbers.
c = a + b
print(c)

12.4

In [38]:
a = 15.5
b = 6.9                # substraction of two float numbers.
c = a - b
print(c)

8.6

In [36]:
a = 5.5
b = 6.9                # multiplication of two float numbers.
c = a * b
print(c)

37.95

In [35]:
a = 15.5
b = 6.9                # division of two float numbers.
c = a / b
print(c)

2.2463768115942027

In [34]:
a = 15.58
b = 6.9                # int division of two float numbers.
c = a // b
print(c)

2.0

In [28]:
a = 5.5
b = 6.9                # power/square of two float numbers.
c = a ** b
print(c)

128381.53306911257

# String Data Type :-

    - In string Data Type we can store everything means (we can store everything instring data type
        (int,float,bool,complex,special symbol,etc))
    - Quots are complsory ...
    - single quots (''),
    - Double quots (""),
    - Triple quots (""" """)

In [1]:
s = 'ABDUL MOIZ'         # We create a string. In Single Quots
s

'ABDUL MOIZ'

In [2]:
s = "ABDUL MOIZ"         # We create a string. In Double Quots
s

'ABDUL MOIZ'

In [3]:
s = '''ABDUL MOIZ'''    # We create a string. In Triple Quots
s

'ABDUL MOIZ'

In [4]:
s = 'MOIZ''  
s                       # do proper Quots

SyntaxError: unterminated string literal (detected at line 1) (508995553.py, line 1)

In [5]:
"hii my name is abdul moiz and i study in naresh it and i a from maharashtra"

'hii my name is abdul moiz and i study in naresh it and i a from maharashtra'

In [8]:
'''hii my name is abdul moiz 
and i study in naresh it                
and i a from maharashtra'''             # more than 2 and 3 line please use Triple Quots.

'hii my name is abdul moiz \nand i study in naresh it                \nand i a from maharashtra'

In [12]:
s1 = 'shaikh '
s2 = 'bagwan'          # Concagination
s3 = s1 + s2
print(s3)

shaikh bagwan

In [15]:
s1[0]                 # string indexing

's'

In [19]:
print(len(s1))
print(len(s2))        # length of String
print(len(s3))

13

In [21]:
print(id(s1))
print(id(s2))         # Address of the String
print(id(s3))

2479055722928
2479055723360
2479055791792

In [22]:
s1[1 : 4]              # string Slicing.

'hai'

# Boolean Data Type :-

    - Boolean Data Type in python gives two (2) values,
    - First one is (True)
    - Second is (False)

    - Booleans are mostly used in decision making.

    -  Important Points
                        (1) True and False start with capital letters.
                        (2)True is equal to 1, and False is equal to 0.

                            
    ðŸ”¹ Boolean Conversion with bool():
        You can convert other types to Boolean using bool()
                            
                            - bool(1)         # True
                            - bool(0)         # False
                            - bool("hello")   # True
                            - bool("")        # False
                            - bool([])        # False
                            - bool([1,2])     # True

In [23]:
a = True
a                        # Boolean Data Type

True

In [24]:
b = False
b

False

In [25]:
print(type(a))
print(type(b))           # Data type

<class 'bool'>
<class 'bool'>

In [26]:
print(id(a))
print(id(b))             # Address of the a and b...

140735716313568
140735716313600

# Complex Data Type :- 

(1 + 2j) and (1 + 2J) '1' is "real part" and '2j' is "imagnary part"

A complex number has a real part and an imaginary part.

In Python, the complex type is used to represent complex numbers, which consist of a real 
and an imaginary part.  
You can create complex numbers and perform mathematical operations on them using the 
built-in support for complex numbers.

Creating a Complex Number 

    A complex number is created by appending the letter j (or J) to the imaginary part. The 
format is:

You can access the real and imaginary parts of a complex number using the .real and .imag 
attributes:

In [1]:
a = (1 + 2j)
a

(1+2j)

In [2]:
print(type(a))             # Complex data type

<class 'complex'>

In [3]:
a.real                     # 1 is real part

1.0

In [4]:
a.imag                     # 2j is the imagnary part

2.0

In [5]:
a = 10 + 20j               # Addition of tw ocomplex numbers
b = 20 + 40j               # python is add only real part to real part, and imagnary part to imagnary part
c = a + b
print(c)

(30+60j)

In [6]:
s = 'MOIZ'

In [7]:
s[0]                      # indexing

'M'

In [8]:
s[1]                      # indexing

'O'