# Input Function()

    - In Python, the input() function is used to take input from the user via the keyboard. When input() is called, the program waits for the user to type something and press Enter. Whatever the user types is returned as a string.
    
    - Syntax : variable = input("Enter something: ")

    - The string inside input() (e.g., "Enter something: ") is called the prompt â€” it shows a message to the user.
    - The input from the user is stored as a string in variable.

In [1]:
a = input()        # Input From the user
a

 hii

'hii'

In [2]:
a1 = input()    # we pass input which is string.
a1

 Hii Abdul MOiz Bagwan

'Hii Abdul MOiz Bagwan'

In [3]:
num = input()    # we pass int data type ,but output is given as string.
num

 23,45

'23,45'

In [6]:
n = input("Enter your name :")         # in side the [paranthesis() this is called 'Prompt']
n

Enter your name : Abdul Moiz Bagwan

'Abdul Moiz Bagwan'

In [23]:
name = input("Enter the User name :")
pas = input("Enter the password :")

Enter the User name : moizbagwan
Enter the password : bagwan@123

In [24]:
pas[0]           # indexing

'b'

In [27]:
pas[-3]   # negative indexing

'1'

In [25]:
name[0 : 4]     # slicing

'moiz'

In [29]:
name[-4: -2]      # negative slicing

'gw'

In [7]:
num = input("Enter the numbers")      # we pass int data type, but output is given as string.
num

Enter the numbers 34,56,2.4

'34,56,2.4'

#Since input() returns a string, to take numbers you need to convert it to the desired type:

In [10]:
age = input("Enter the age :")   # we converted string data type to int data type is called Type Casting.
age1 = int(age)

print(age1)

Enter the age : 3

3

In [11]:
a = input('Enter the First number :')       # prompt No.1
a_1 = int(a)
b = input('Enter the second number :')      # prompt No.2
b_1 = int(b)

print(a_1)
print(b_1)

Enter the First number : 23
Enter the second number : 12

23
12

In [13]:
# Above code is Optimized..(short)

a = int(input("Enter the First number :"))
b = int(input("Enter the Second number :"))        # Code optimization

print(a)
print(b)

Enter the First number : 11
Enter the Second number : 33

11
33

In [115]:
# Addition of two numbers using input user define function .

a = int(input("Enter the First number :"))
b = int(input("Enter the Second number :"))

sum = a + b                                  # Addition of two numbers ...

print("Addition of two numbers is :",sum)

Enter the First number : 12
Enter the Second number : 23

Addition of two numbers is : 35

In [16]:
# Optimize above code.

a = int(input("Enter the First number :"))
b = int(input("nter the Second number :"))

print("Addition of two numbers is :",a + b)

Enter the First number : 10
nter the Second number : 10

Addition of two numbers is : 20

#convert string to Float Data Type . and print addition of 2 numbers by using input() function

In [18]:
a = float(input("Enter the First number :"))
b = float(input("nter the Second number :"))  # Addition of two Floating numbers 

print("Addition of two numbers is :",a + b)

Enter the First number : 3.5
nter the Second number : 2.9

Addition of two numbers is : 6.4

In [35]:
n = (input("Enter the 12 numbers :"))     # last 4 digits are visible because of string slicing, eg.(we see in masked aadhar)
n1 = n[8 : 13]
print(n1)

Enter the 12 numbers : 112233445566

5566

In [36]:
n = (input("Enter the 12 numbers :"))     # last 3 digits are visible because of string slicing, eg.(we see in masked aadhar)
n1 = n[9 : 13]
print(n1)

Enter the 12 numbers : 111222333444

444

In [37]:
ex = int(input("Enter the expression :"))      # error becaouse, we need to eval function.
print(ex)

Enter the expression : 1 + 2

ValueError: invalid literal for int() with base 10: '1 + 2'

# Eval Function using Input Function

    - Using eval() with input() in Python is a way to evaluate the user input as a Python expression, not just as a plain string.
    - Eval() takes a string and executes it as Python code, then returns the result.
    - So, if the user inputs something like "a + b" or "x * y", eval() will calculate and return the result.

| Code            | Input   | Output               |
| --------------- | ------- | -------------------- |
| `input()`       | `2 + 3` | `"2 + 3"` (string)   |
| `eval(input())` | `2 + 3` | `5` (integer result) |

In [44]:
a = eval(input("Enter the numbers"))       # Eval Function
print(a)

Enter the numbers 2 + 5

7

In [46]:
result = eval(input("Enter the Expression :"))

print(result)        # Expression ,using eval with input function.

Enter the Expression : 2 + 6 * 2 /2 - 1

7.0

# Import Math Module

- In Python, the math module provides mathematical functions and constants beyond the basic arithmetic operators (+, -, *, /).

In [47]:
a = sqrt(25)    # we need to math module.
a

NameError: name 'sqrt' is not defined

In [48]:
import math

In [50]:
a = math.sqrt(25)       # we successfully import math module.
a                       # Square root of 25

5.0

In [53]:
a = math.pow(2,4)
a                      # 2 to the power is 4

16.0

In [55]:
a = math.floor(5.45)    # floor value of 5.45
a

5

In [56]:
b = math.floor(3.14)       # Floor value - minimum value    3.14 ----> 3
b

3

In [66]:
c = math.ceil(34.5) # ceil value   -   maximum value  34.5 ----> 35
c

35

In [67]:
cl = math.ceil(3.999)          maximum value
cl

4

In [68]:
m = math.ceil(2.121212)
m

3

In [57]:
s = m.pow(3,6)     # first of all we need to import math as m, then it work.

NameError: name 'm' is not defined

In [90]:
import math as m

In [91]:
a = m.sqrt(25)        # using math a "m" .
a

5.0

In [92]:
p = m.pow(4,7)
p

16384.0

In [93]:
b = m.floor(3.14)
b

3

In [94]:
c = m.ceil(3.14)
c

4

In [95]:
l = m.log(10)
l

2.302585092994046

In [96]:
m = m.pi      # pi value.
m

3.141592653589793

In [100]:
print(math.e)     # Exponantial

2.718281828459045

# From math import

In [106]:
from math import sqrt, pow, floor, ceil, pi,e

In [114]:
print(math.sqrt(10))        # square root 
print(math.pow(3,5))        # power
print(math.floor(3.456))    # floor value
print(math.ceil(3.01))      # ceiling value
print(math.pi)              # pi value (Constant)
print(math.e)               # Exponantial value (constant)

3.1622776601683795
243.0
3
4
3.141592653589793
2.718281828459045