# Operator In Python

    - In Python, operators are special symbols or keywords used to perform operations on values or variables.
    - They act on operands (data) and produce a result.
    - Python has several types of operators for different tasks, are as follows :

    * Arithmetic Operator (+, -, *, /, //, **)
    * Assignment Operator (=, ==, +=, -=, <=, >=)
    * Relational Operator (<, >, <=, >=, !=)
    * Logical Operator (AND, OR, NOT)
    * Unary Operator  
    * Bitwise Operator--
                        -[Bitwise AND Ooperator (&)
                        - Bitwise OR Oprator (|)
                        - Bitwise XOR Operator (^)
                        - Bitwise Left shift Operator (<<)
                        - Bitwise Right shift Operator (>>)]

# Arithmetic Operator 

    - Arithmetic operators are used to perform mathematical operations on numbers.
    - Also works for string concatenation and sequence joining.

In [1]:
a = 5                        # Addition of two numbers
b = 4

print(a + b)

9

In [2]:
a = 5                        # Substracion of two numbers
b = 4

print(a - b)

1

In [3]:
a = 5                        # multiplication of two numbers
b = 4

print(a * b)

20

In [4]:
a = 5                        # Division of two numbers
b = 4

print(a / b)

1.25

In [5]:
a = 5                        # Int Division of two numbers
b = 4

print(a // b)

1

In [6]:
a = 5                        # Power of two numbers
b = 4

print(a ** b)

625

# Assignment Operator 

    - Assignment operators are used to assign values to variables.

In [7]:
p = 2
p = p +2         # increament by 2
p

4

In [8]:
p += 9           # increament by 9
p

13

In [9]:
p -= 2           # p - 2
p

11

In [10]:
p *= 2           # p*2
p

22

In [11]:
p /=  2          # p/2
p

11.0

In [12]:
p //= 2         # p//2
p

5.0

In [13]:
a,b = 4,5       # we assign two values in two variables
print(a,b)

4 5

# Relational Operator

    - Relational operators are used to compare two values.
    - They always return a Boolean value — either True or False.

In [14]:
a = 150
b = 50
print(a)
print(b)

150
50

In [15]:
a > b        # 150 is not equal to 50  (True)

True

In [16]:
a < b      # a is smaller than b (False)

False

In [17]:
a > b        # a greater than b  (True)

True

In [18]:
a != b       # a is not equal to b (True)

True

In [19]:
a <=b        # a is less than and equal to b (False)

False

In [20]:
a >= b       # a is greater than and equal to b (True)

True

# Logical Operator

    - Logical operators are used to combine conditional statements and return a Boolean value (True or False).

# Logical AND Operator :-

    - And operator is return when both conditions are True .
    - In short :True = 1  ,  False 0

#Truth Table for AND operator:

                                  [A]        [Operator]         [B]                   [Result]

                                  True(1)       (AND)          True(1)      --->       True(1)
                                  True(1)       (AND)          False(0)     --->       False(0)
                                  False(0)      (AND)          True(1)      --->       False(0)
                                  False(0)      (AND)          False(0)     --->       False(0)

In [21]:
a = 40
b = 30
c = 20

print(a)
print(b)
print(c)

40
30
20

In [22]:
print(a > b and a > c)         # a is greater than b and c.

True

In [23]:
print(a < b and a > b)         # a smaller than b and a greater than c ( False)

False

In [24]:
print(a > b and a < b)         # a greater than b and a smaller than c ( False)

False

In [25]:
print(b > a and b > c )        # Fasle

False

In [26]:
print(b < a and b > c)         # True

True

In [27]:
print(b < a and b < c)         # False

False

In [28]:
print(c > a and c < b)         # False

False

In [29]:
print(c > a and c > b)         # False

False

In [30]:
print(c < a and c < b)         # True

True

# Logical OR Operator

    - Returns True if at least one condition is True
    - In short :True = 1  ,  False 0

#Truth Table for OR operator:

                                   [A]       [Operator]          [B]                   [Result]

                                  True(1)       (OR)           True(1)      --->       True(1)
                                  True(1)       (OR)           False(0)     --->       False(1)
                                  False(0)      (OR)           True(1)      --->       False(1)
                                  False(0)      (OR)           False(0)     --->       False(0)

In [31]:
a = 4
b = 10
c = 70

print(a)
print(b)
print(c)

4
10
70

In [33]:
print(a > b or a > c)    # a is greater than b or a is greater than c (False)

False

In [34]:
a < b or a > c             # True

True

In [35]:
print(a > b or a > c)      # True

False

In [36]:
print(b < a or b < c)      # True

True

In [37]:
print(b < a or b > c)      # False

False

In [38]:
print(b > a or b > c)      # True

True

In [39]:
print(c < a or c <b)       # False

False

In [40]:
print(c < a or c > b)      # True

True

In [41]:
print(c > a or c > b)      # True

True

# Logical NOT Operator

    - The not operator is used to reverse the Boolean value of an expression.
    - If the condition is True, not makes it False.
    - If the condition is False, not makes it True
    - - In short :True = 1  ,  False 0


#Truth Table for NOT operator:

                                    [Condition]        [Operator]             [Result]
                                    
                                     True(1)             (NOT)     --->       False(0) 
                                     False(0)            (NOT)     --->       True(1)

In [42]:
a = 40
b = 30
print(a)
print(b)

40
30

In [43]:
print(not(a > b))

False

In [44]:
print(not(b > a))  # reverse result..

True

In [45]:
print(not(a < b))

True

In [46]:
print(not(b < a))   # False

False

# Unary Operator 

    - In Python, a unary operator is an operator that works on only one operand.
    - Unary means “one,” so these operators take only a single operand.)

In [48]:
a = +5      # same as 5
a

5

In [49]:
b = -(a) 
b

-5

In [50]:
-a

-5

In [51]:
print(-(a))

-5

#  Number System Conversion (Bit-Binay Digit)

    - In programing we are using Binary system ,Decimal system & Hexadecimal system.


            [System]                            [Base]                  [Digits_Used]

            Binary Number System                 (2)                        {0-1}
            Octal Number System                  (8)                        {0-7}
            Decimal Number System                (10)                       {0-9}
            Hexadecimal Number System            (16)                       {0-9,A–F (A=10 … F=15)}

# Binary Number System

    - Binary number system we wiil write as (0b)
    - Base: 2
    - Digits: [0-1]
    - Use: Internal computer operations.
    - we are use [bin] for converting Integer numbers to Binary numbers. Eg : [bin(10)] == 0b1010 
    - Example : 1010₂ = (1×2³) + (0×2²) + (1×2¹) + (0×2⁰) = 8 + 0 + 2 + 0 = 10₁₀
    - When we are useing [int] for converting Binary numbers to Integer numbers. Eg : [int(0b1010)] == 10.
    - ** Count the numbers DOWN TO UP **

In [52]:
a = 10
a

10

In [53]:
a = bin(10)               #  we are use [bin] for converting Integer numbers to Binary numbers
a                         # Integer number to Binary number (10 ---> 0b1010).

'0b1010'

In [54]:
bin(12)                   # Integer number to Binary number (10 ---> 0b1010).

'0b1100'

In [55]:
bin(34)                   # int to binary number

'0b100010'

In [56]:
bin(25)                   # Integer number to Binary number (10 ---> 0b1010).

'0b11001'

In [57]:
b = int(0b1010)           # Binary number to integer number (0b1010 ---> 10).
b

10

In [58]:
c = int(0b100010)    
c

34

In [59]:
s = bin(55)
s

'0b110111'

In [60]:
s1 = int(0b110111)
s1

55

In [61]:
bin(88)

'0b1011000'

In [62]:
int(0b1011000)

88

In [63]:
int(0b1010)    #  binary to int

10

# Octal Number System 

    - Octal Numbers System we will write as 0o.
    - Base : 8
    - Digits : [0-7]
    - we are use [oct] for converting Integer numbers to Octal numbers. Eg : [oct(12)] == 0o14
    - Example : 57₈ = (5×8¹) + (7×8⁰) = 40 + 7 = 47₁₀
    - When we are useing [int] for converting Octal numbers to Integer numbers. Eg : [int(0o14)] == 12.

In [64]:
a = oct(12)            # Integer number to octal number (12 ---> 0o14)
a

'0o14'

In [65]:
a1 = int(0o14)         # Octal number to Integer number (0o14 ---> 12)
a1

12

In [66]:
b = oct(10)            # Integer number to octal number (10 ---> 0o12)
b

'0o12'

In [67]:
b1 = int(0o12)         # Octal number to Intger number (0o12 ---> 10)
b1

10

In [68]:
c = oct(15)            # Integer number to octal number (15 ---> 0o17)
c

'0o17'

In [69]:
c1 = int(0o17)         # Octal number to Intger number (0o17 ---> 15)
c1

15

# Decimal Number System 

    - Decimal number system we will write as 0x.
    - Base : 10 
    - Digits : [0-9].
    - Example ; 246₁₀ = (2×10²) + (4×10¹) + (6×10⁰) = 200 + 40 + 6
    - Converting int → decimal doesn’t really need a function like bin() or hex(), because decimal is the default display format.

In [76]:
n = 246       
print(n)

246

In [77]:
n = 246   
print(format(n,'d'))
print(n)

246
246

# Hexadecimal Number System

    - Base: 16
    - Digits used: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F

In [78]:
# Decimal to Hexadecimal
num = 26
hex_value = hex(num)   # Convert decimal 26 to hexadecimal
print("Decimal:", num)
print("Hexadecimal:", hex_value)  # Output: 0x1a

Decimal: 26
Hexadecimal: 0x1a

In [79]:
# Hexadecimal to Decimal
hex_num = "1A"         # Hexadecimal value as a string
decimal_value = int(hex_num, 16)  # Convert hex to decimal
print("Hexadecimal:", hex_num)
print("Decimal:", decimal_value)  # Output: 26

Hexadecimal: 1A
Decimal: 26

In [80]:
# Decimal to Hexadecimal
num = 3000
hex_value = hex(num)   # Convert decimal 26 to hexadecimal
print("Decimal:", num)
print("Hexadecimal:", hex_value)  # Output: 0x1a

Decimal: 3000
Hexadecimal: 0xbb8

In [81]:
# Hexadecimal to Decimal
hex_num = "0xbb8"         # Hexadecimal value as a string
decimal_value = int(hex_num, 16)  # Convert hex to decimal
print("Hexadecimal:", hex_num)
print("Decimal:", decimal_value)  # Output: 26

Hexadecimal: 0xbb8
Decimal: 3000

# Bitwise Operator

    - In bitwise operator we have six(6) types of operators.

        (1)- Complement bitwise operator (~).
        (2)- Bitwise AND operator - (&).
        (3)- Bitwise OR operator - (|).
        (4)- Bitwise XOR operator (Exclusive OR-operator) - (^).
        (5)- Bitwise Left shift operator - (<<).
        (6)- Bitwise Right shift operator - (>>).

# Bitwise Complement Operator

    - System can not be store a negative numbers .so we are store the negative numbers by using bitwise complement operator.
    - The bitwise complement operator in Python is written as ~ (tilde).
    - 1 becomes 0
    - 0 becomes 1
    - In Python, integers are stored using two's complemen representation.
    - Formula is : n = −(n+1)

In [82]:
x = 5        # binary:  0000 0101
y = ~x       # binary:  1111 1010 (in two's complement)
print(y)     # output: -6

-6

In [83]:
x = 12        # binary:  0000 0101
y = ~x       # binary:  1111 1010 (in two's complement)
print(y)     # output: -6

-13

In [84]:
x = 19        # binary:  0000 0101
y = ~x       # binary:  1111 1010 (in two's complement)
print(y)     # output: -6

-20

# Bitwise AND Operator (&)

    - The bitwise AND operator in Python is written as &.
    - It compares each bit of two numbers and returns 1 only if both bits are 1, otherwise 0.


| Bit1 | Bit2 | Result |
| ---- | ---- | ------ |
| 0    | 0    | 0      |
| 0    | 1    | 0      |
| 1    | 0    | 0      |
| 1    | 1    | 1      |

In [85]:
a = 5                  #     0101   (5)
b = 3                  #   & 0011   (3)
                       #  ---------
print(a & b)           #    0001   (1)

1

In [86]:
p = 12
q = 7

print(12 & 7)   # 4  → 1100 & 0111 = 0100

4

In [87]:
x = 9
y = 5

print(9 & 5)    # 1  → 1001 & 0101 = 0001

1

In [88]:
s = 23    #  0b10111
m = 10    #  0b1010

print(s & m)

2

In [89]:
l = 24
b = 28

print(l & b)

24

# Bitwise OR Operator (|)

    - The bitwise OR operator in Python is written as |.
    - It compares each bit of two numbers and returns 1 if at least one bit is 1, otherwise 0.
    
Truth table for Bitwise OR operator:
| Bit1 | Bit2 | Result |
| ---- | ---- | ------ |
| 0    | 0    | 0      |
| 0    | 1    | 1      |
| 1    | 0    | 1      |
| 1    | 1    | 1      |

In [90]:
          
a = 5                             #         101   (5)
b = 3                             #     |  0011   (3)                
result = a | b                    #      ----------
print(result)                     #        0111

7

In [91]:
x = 12
y = 23
print(x | b)

15

In [92]:
l = 45
b = 34

print(l | b)

47

# Bitwise XOR Operator (Exclusive OR)

    - The bitwise XOR operator in Python is written as ^.
    - It compares each bit of two numbers and returns 1 if the bits are different, otherwise 0.

Truth table for Bitwise XOR for one bit:

| Bit1 | Bit2 | Result |
| ---- | ---- | ------ |
| 0    | 0    | 0      |
| 0    | 1    | 1      |
| 1    | 0    | 1      |
| 1    | 1    | 0      |

In [93]:
a = 5    # binary: 0101
b = 3    # binary: 0011

result = a ^ b
print(result)  # Output: 6

6

In [94]:
# for more explanation

#     0101   (5)
#  ^  0011   (3)
#   ---------
#     0110   (6)

In [95]:
a = 34  #  0b100010
b = 32  #  0b100000

print(a ^ b)

2

In [96]:
x = 56   # 0b111000
y = 23   # 0b10111

print(a ^ b)

2

In [97]:
l = 12    # 0b1100
b = 9     # 0b1001

print(l ^ b)

5

In [98]:
s = 22   # 0b10110
s1 = 2   #    0b10

print(s ^ s1)

20

In [99]:
p = 56      # 0b111000
q = 33      # 0b100001

print( p ^ q)

25

# Bitwise Left Shift (<<)

    - The bitwise left shift operator in Python is <<.
    - It shifts the bits of a number to the left by the number of positions specified.
    - Each shift to the left multiplies the number by 2 for every position moved.
    - In short : (a × b²).
    - Syntax : result = number << shift_count

In [100]:
a = 5        # Binary:  0000 0101
b = a << 2   # Shift left by 2 bits → Binary: 0001 0100
print(b)     # Output: 20

20

In [101]:
p = 24  #0b11000
q = 2   # 0b10

print(p << q)

96

In [102]:
l = 34   # 0b100010
b = 12   # 0b1100

print(l << b)

139264

In [103]:
s = 76   # 0b1001100
m = 11   # 0b1011
 
print(s << m)

155648

# Bitwise Right Shift (>>)

    - The bitwise right shift operator in Python is written as >>.
    - Syntax : result = number >> positions.
    - number → The integer whose bits you want to shift.
    - positions → How many places to shift to the right.
    - Each right shift by 1 means dividing the number by 2 (and ignoring remainder for integers).
    - Bits shifted out on the right are discarded.
    - If the number is positive, zeros are added on the left.
    - If the number is negative, the sign bit is preserved (arithmetic shift).
    - Formula is :  a/b**2 (a divided by b and b to the power is 2).

In [104]:
a = 20          # Binary: 00010100
result = a >> 2 # Shift right by 2 bits
print(result)   # Output: 5

5

In [105]:
a = 13
b = 2

print(a >> b)

3

In [106]:
a = 34
b = 9

print(a >> b)

0

In [107]:
a = 23
b = 2

print(a >> b)

5

In [108]:
v = 77
w = 3

print(v >> w)

9

In [109]:
q = 90
r = 4

print(q >> r)

5