# Print Format Method

In [3]:
num1 = 20            # addition of 2 numbers using format method
num2 = 30
add = num1 + num2      #first deside how the print statement should be 
                      #like:- The addition of 20 and 30 is = 50  
                     #then replace the variable position with curly brtacesm { } 
                    #then appply .format(val1,val2,....val-n methodm

In [4]:
print('the addition of {} and {} is = {}'.format(num1,num2,add))

the addition of 20 and 30 is = 50

In [5]:
num1 = 20            # addition of 2 numbers 
num2 = 30
num3 = 30
add = num1 + num2 + num3

In [6]:
print('the addition of {} and {} and {} is = {}'.format(num1,num2,num3,add))

the addition of 20 and 30 and 30 is = 80

In [7]:
num1 = 20            # addition of 3 numbers 
num2 = 30
add = num1 + num2 +num3

In [8]:
print('the addition of {} and {} and {} is = {}'.format(num1,num2,num3,add))

the addition of 20 and 30 and 30 is = 80

In [9]:
name = 'Python'
age = 20
city = 'Hydrabad'         # # hello my mane is python and i an 20 years old from hydrabad. make like this

In [10]:
print('hello my name is {} , and i am {} years old ,from {}'.format(name,age,city))

hello my name is Python , and i am 20 years old ,from Hydrabad

In [4]:
num1 = 100
num2 = 25
num3 = 333

avg = (num1 + num2 + num3)/3      # we can use avg = round ((num1 + num2 + num3)/3,2)
avg1 = round((num1 + num2 + num3)/3,2)

print('The average of {}, {}, is = {} or {}'.format(num1,num2,num3,avg,avg1))  # here we can use round(avg,2) also

The average of 100, 25, is = 333 or 152.66666666666666

In [5]:
round(avg,2)

152.67

# More short format meythod(f string method) 

    - Variable shoud be in Curly braces.
    - And write everything inside quots ''.
    - At starting simply add f.

In [6]:
num1 = 20
num2 = 30

In [8]:
add = num1 + num2
print(f'The addition of {num1} and {num2} is = {add}')        # always prefer this.

The addition of 20 and 30 is = 50

In [9]:
name='Python' 
age=20 
city='hyd'      #hellow my name is python and i am 10 year old from hydrabad

In [11]:
print(f'hello my name is {name} , and i am {age} year old , from {city}.')

hello my name is Python , and i am 20 year old , from hyd.

In [12]:
num1=100 
num2=25 
num3=333 
avg=round((num1+num2+num3)/3,2) # or we can use avg=round(num1+num2+num3)/3,2) 
                                # The avrage of num1,num2,num3 is = avg

In [13]:
print(f'The avrage of {num1}, {num2} and {num3} is = {avg}')

The avrage of 100, 25 and 333 is = 152.67

In [14]:
# lete combine all 
num1=10 
num2=20 
add = num1+ num2 
print('The addition of',num1,'and',num2,'is=',add) 
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

# End Statement 

- Here we will use end statement that joint line from end of one string to starting of other 
string

In [15]:
print('hello') # 1st statement 
print('good moorning') # 2nd statement) 
                       # i want print like:- hellow good morning

hello
good moorning

In [16]:
print('hello', end=' ') # 1st statement 
print('world good day') # 2nd statement

hello world good day

In [18]:
print('hello', end='moiz ') # 1st statement

hellomoiz

# Seprator 

- here one print statement only we use 
 
- insisde one print statement we have multipal values 
 
- we want to seperate these multipal values with anything

In [21]:
print("hello", "hii", "how are you" ,sep= "---->")         # seprate print method

hello---->hii---->how are you

In [22]:
print('hello','hai','how are you',sep='&')     # seprate print method

hello&hai&how are you

In [23]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [24]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [ ]:
rint(3,'.') # . is far from 3 so here we will use sep method