# PYTHON TUTORIAL

In [3]:
import sys
import keyword
import operator
from datetime import datetime
import os

# Keywords

- keywords are the reserved words in python and can't be use an identifier (variable)

In [4]:
print(keyword.kwlist)      # list of all python keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
len(keyword.kwlist)        # python contains 35 keywords

35

# Identifiers

An identifier ia a name given to entities like class,function,variable,etc,,,. it helps to differentiate one entity another.

In [7]:
1var = 10         # variable can't start with numbers / digits

SyntaxError: invalid decimal literal (1383109852.py, line 1)

In [8]:
var2@ = 35         # variable can't use special Symbols accept - 'underscore'

SyntaxError: invalid syntax (1888548071.py, line 1)

In [9]:
import = 125      # Keywords can't be use identifiers

SyntaxError: invalid syntax (2858233637.py, line 1)

In [12]:
var1 = 10 
var1                     # this is correct because after vaariable name we can use digits..

10

In [13]:
var2 = 36
var2        # this is correct because after vaariable name we can use digits..

36

In [14]:
var_1 = 24345
var_1

24345

# Comments in Python

Comments can be useed to explain the code for more readablity.

In [15]:
# Single line comment
Val1 = 10

In [16]:
# Multiple
# line
# Comment
Val1 = 10

In [17]:
'''Multiple
line
comment
'''
Val1 = 10

In [18]:
"""Multiple 
line
comment
"""
Val1 = 10
print(Val1)

10

# Statements

Instruction that a Python interpreter can execute.

In [21]:
p = 20                     # creats an integer object with value 20 and assigns the variable p and p
q = 20                     # create new refrance q which will point to the value 20. p & q will be point
q = q                      # Variable r is also point ti the same location where p & q are pointin
p, type(p), hex(id(p))     # variable p is pointing to the memory location '0x7fff6d71a'

(20, int, '0x7fff7d9db608')

In [22]:
q , type(q), hex(id(q))

(20, int, '0x7fff7d9db608')

In [23]:
r , type(r), hex(id(r))

(20, int, '0x7fff7d9db608')

In [25]:
p = 20
p = p + 10  # Variable overwriting
p

30

# Variable Assignment

In [26]:
intvar = 10  # integer Variable
floatvar = 2.27   # float variable
strvar = "PYTHON LANGUAGE"  # string variable

print(intvar)
print(floatvar)
print(strvar)

10
2.27
PYTHON LANGUAGE

# Multiple Assignments

In [27]:
intvar , floatvar , strvar = 10,2.56,"python language" # using comma to seprate

print(intvar)
print(floatvar)
print(strvar)

10
2.56
python language

In [28]:
p1 = p2 = p3 = p4 = 44 # all variable pointing same vallue
print(p1,p2,p3,p4)

44 44 44 44

# DATA TYPES

Numeric

In [34]:
val1 = 10 # Integer data type 
print(val1) 
print(type(val1)) # type of object 
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int

10
<class 'int'>
28
10  is Integer? True

In [35]:
val2 = 146.76 # float data type 
print(val2) 
print(type(val2)) # type of object 
print(sys.getsizeof(val2)) # size of float object in bytes 
print(val2, " is float?", isinstance(val2, float)) # val1 is an instance of int

146.76
<class 'float'>
24
146.76  is float? True

In [36]:
val3 = 25 + 10j   # complex data type 
print(val3) 
print(type(val3)) # type of object 
print(sys.getsizeof(val3)) # size of complex object in bytes 
print(val3, " is complex?", isinstance(val3, complex)) # val1 is an instance of complex

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [37]:
sys.getsizeof(int())   # size of integer object in bytes

28

In [38]:
sys.getsizeof(float())   # size of integer object in bytes

24

In [39]:
sys.getsizeof(complex())   # size of integer object in bytes

32

In [40]:
sys.getsizeof(str())   # size of integer object in bytes

41

In [41]:
sys.getsizeof(bool())   # size of integer object in bytes

28

# Boolean 

Boolean data type can have only two possible values True or False.

In [44]:
bool1 = true         # Always the letter of a True is (CAPITAL)
bool1

NameError: name 'true' is not defined

In [45]:
bool1 = True
bool1

True

In [46]:
print(type(bool1))

<class 'bool'>

In [47]:
isinstance(bool1, bool)

True

In [48]:
bool(0)         # Always in memory False store as a zero (0).

False

In [49]:
bool(1)          # Always in memory True store as a one (1).

True

In [50]:
bool(None)

False

In [51]:
bool(False)

False

# String

- String Creation

In [52]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [53]:
mystr = 'Good Morning'   # Define String using Single Quotes
print(mystr)

Good Morning

In [54]:
mystr = "Good Afternoon"   # Define String using Double Quotes
print(mystr)

Good Afternoon

In [56]:
mystr = '''Good Morning'''   # Define String using Triple Quotes
print(mystr)

Good Morning

In [57]:
mystr = '''Good
           Morning'''          # Define String using Triple Quotes
print(mystr)

Good
           Morning

In [59]:
mystr = """Good
            Morning"""   # Define String using Triple Quotes
print(mystr)

Good
            Morning

In [62]:
mystr = ('Good ' 
         'Morning ' 
         'veryone')  
print(mystr)

Good Morning veryone

In [65]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [67]:
len(mystr2)     # length of string

35

# Srting Indexing

- Forward Indexing

                         #  Forward Indexing
-   0    1    2    3    4    5    6    7    8   9    10    11
-   H    E    L    L    O         P    Y    T    H     O    N
-   -12 -11  -10  -9   -8   -7   -6   -5   -4   -3   -2    -1
                        # Backward indexing

In [69]:
str1 = 'Hello Python'
print(str1)

Hello Python

In [70]:
str1[0]      # First character in string "str1"

'H'

In [71]:
str1[2]        # third character in string "str1"

'l'

In [72]:
str1[-1]      # Last character in string

'n'

In [73]:
str1[6] #Fetch 7th element of the string

'P'

In [74]:
str1[5]

' '

# String Slicing

In [76]:
str1[0 : 2]     # String slicing - Fetch all characters from 0 to 2 index location exc

'He'

In [79]:
 
str1[6:12]            # String slicing - Retreive all characters between 6 - 12 index loc e

'Python'

In [78]:
 
str1[0:5]              # String slicing - Retreive all characters between 6 - 12 index loc e

'Hello'

In [80]:
str1[-4:]         # Retreive last four characters of the string

'thon'

In [81]:
str1[-6:] # Retreive last six characters of the string

'Python'

In [82]:
 str1[:4] # Retreive first four characters of the string

'Hell'

In [83]:
str1[:6] # Retreive first six characters of the string

'Hello '

# Update & Delete String

In [84]:
str1

'Hello Python'

In [ ]:
# Strings are immutale which means elements of a string cannot be change once you create
sr1[0 : 5] = 'HOLLA'

In [87]:
del str1 # Delete a String
print(str1)

NameError: name 'str1' is not defined

# String Conncatenation

In [88]:
# string concatenation
s1 "Hello"
s2 = "Moiz"
s3 = s1 + s2
print(s3)

SyntaxError: invalid syntax (1008096026.py, line 2)