# Range Function 

    - The range() function generates a sequence of numbers..
    - Returns a range object (immutable, memory-efficient).
    - Works with positive or negative step, but step ≠ 0.
    - Stop is exclusive (not included).
    - Supports indexing and slicing like a lists.
    - Membership check (in) is O(1) speed.
    - Syntax : range(start, stop, step).

In [5]:
range()       # in range function pass at least one argument.

TypeError: range expected at least 1 argument, got 0

In [6]:
range(1,5)

range(1, 5)

In [8]:
range(12,100) # but i have to print 1 to 10 numbers in the form of list

range(12, 90)

In [21]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
type(a)  # list type

list

In [33]:
# print the number from 1 to 16 in the form of set

s = set(range(1,16))      # last index is not print.
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [34]:
type(s)

set

In [30]:
# print the number from 1 to 16 in the form of tuple.

t = (tuple(range(1,16)))
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [31]:
type(t)

tuple

In [36]:
# print the number from 50 to 70 in the form of list.

l = (list(range(50,60)))
l

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [37]:
print(type(l))

<class 'list'>

# Swap the variable Value:

    -  swap means exchanging the values of two variables so that each variable ends up holding the other’s original value.

In [41]:
a = 10
b = 5
                        # exchange the value of a to b using with third variable
swap = a,b = b,a
print(swap)

(5, 10)

In [42]:
l = 50
b = 90                # swap the value without using third variable.

l,b = b,l

print(l,b)

90 50

In [48]:
p = 100
q = 200

p,q = p,q
print(p,q)

100 200